/*fonts cnd*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


/*common css starts*/

body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}

/*common css ends*/


/*container starts*/

.container{
	overflow: hidden;
	margin: 0 auto;
    width: 90%;
/*    border: 1px solid red;*/
}

.container1{
	margin: 0 auto;
	width: 80%; 
}



/*container ends*/


/*header starts*/

header{
	padding: 30px 0;

}



.logo {
	margin-top: 13px;
	float: left ;
	width: 12%;
/*	border: 1px solid;*/

}

.logo a{
	display: inline;
}

.logo a img{
width: 100%;
}

.menu{
	float: right ;
	width: 65%;
/*	border: 1px solid;*/

}

.menu ul{
	float: right;

}

.menu ul li{
	float: left;
    list-style: none;
}

.menu ul li a{
	display: inline-block;
	margin: 0 50px;
	color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;

}

.menu ul li:last-child a{
	padding-right: 0;
}

.menu ul li a:hover{
border-bottom: 1px solid #626262;
}

/*header ends*/

/*banner starts*/

.banner{}

.b_img{}

.b_img img{
	width: 100%;
}

/*banner ends*/

/*getaway starts*/

.getaway{
      padding: 100px 0;
}

.g_contain{
 
}

.c_light{
	margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase ;
}

.c_title{
	margin: 20px 0 30px;
     font-size: 30px;
     font-weight: 400;
}

.c_text{
	margin: 0;
  line-height: 24px;
}


.g_contain a{
	margin-top: 40px;
	display: block;
color: #626262;
text-decoration: none;
}


/*getaway ends*/










